@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?t4xzdm');
  src:  url('../fonts/icomoon.eot?t4xzdm#iefix') format('embedded-opentype'),
  url('../fonts/icomoon.ttf?t4xzdm') format('truetype'),
  url('../fonts/icomoon.woff?t4xzdm') format('woff'),
  url('../fonts/icomoon.svg?t4xzdm#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

body {
  margin: 0;
  padding: 0;
  font-family: Lato, Arial, Helvetica, sans-serif;

}

.holder{
  max-width: 1250px;
  margin: 0 auto; 
  padding-top: 10px;
}

/* ICONOS */

.icon-shopping-cart:before,.icon-mensaje:before,.icon-search:before,.icon-user:before{
  font-family: 'icomoon';
  font-size: 1.5em;
  margin: 0 auto;
  color: rgb(86, 86, 86);
}

.icon-shopping-cart:hover,.icon-mensaje:hover,.icon-user:hover{
  color: #3e8ddd;
  cursor: pointer;
}

.icon-shopping-cart:before {
  content: "\e900";
}

.icon-mensaje:before {
  content: "\e906";
}

.icon-search:before {
  content: "\e901";
  font-size: 0.8em;
}

.icon-user:before {
  content: "\e902";
}

/* FIN ICONOS */

/* HEADER NAV BAR */

.topnav {
  width: 100%;
  height: 30%;
  float: left;
}

.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  text-decoration: none;
  font-size: 1em;
  font-weight: bold;
  margin: 10px;
  padding: 5px;
}

.topnav a:hover {
 color: blue;
 font-weight: bold;
}

.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

.topnav .icon {
  display: none;
}

.topnav input{
  margin: 12px;
  padding: 5px;
  font-size: 12px;
  border-radius: 5px;
  border: 1px solid;
}

.search {
  height: 100%;
}

.search input{
  width: 20%;
  padding-left: 16px;
  border-color: grey;
}

.search span {
  position: relative;
  right: 40px;
  cursor: pointer;
}

.header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 200px;
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  position: absolute;
  top: 0;
  right: 0;
  padding-right: 20px;
}

.chat{
  display: flex;
  align-items: center;
  font-size: 0.7em;
}

.iconos{
  display: flex;
  align-items: center;
}

.subheader{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
  height: 100%;
  margin:0;
  padding: 0;
}


.header img{
  width: 65px;
}


.banner{
  background-image: url('../img/hero-banner.jpg');
  background-repeat:no-repeat;
  background-size: auto;
  width: 100%;
  height: 125px;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


.banner h1{
  color: white;
  margin-left: 2%;
  font-size: 3em;
  text-align: left;
}


.banner h1 small{
  font-size: 0.5em;
  font-weight: 100;
}

.banner2{
  width: 100%;
  padding: 0;
  margin: 0;
}

.banner2 img{
  width: 100%;
}

.banner2 h5{
  color: white;
  position: relative;
  text-align: center;
  font-weight: lighter;
  bottom: 40px;
  font-size: 1em;
  padding: 0;
  margin: 0;
}

.botonera{
  display: flex;
  background-color: #f8f8f8;
  width: 100%;
  height: 50px;
  justify-content: space-around; 
}

.item{
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration-line: none;
  font-size: 0.8em;
  text-align: center;
  color: black;
  width: auto;
}

.item p{
  padding-left: 5px;
  width: 50px;
  font-weight: lighter;
  font-size: 0.9em;
}

.item img{
  width: 50px;
  cursor: pointer;
}

.item:hover{
  border-bottom: 3px solid #ff6a00;
  color:#ff6a00;
  cursor: pointer;
}

.item:hover p{
  cursor: pointer;
}

/* FIN HEADER NAV BAR */

/* ETIQUETA RIBBON */

.ribbon {
  width: 150px;
  height: 20px;
  position: relative;
  background: #3e8ddd;
  display:block;
}

.ribbon:after {
  content: "";
  position: absolute;
  color: white;
  padding-left: 25px;
  font-size: 0.8em;
  left: 0;
  bottom: 0;
  width: 0;
  height: 0;
  border-left: 10px solid white;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}

.ribbon p{
  position: relative;
  bottom: 8px;
  color: white;
  font-weight: 550;
  font-size: 0.7em;
  left: 40px;
}

/* FIN ETIQUETA RIBBON */

/* PRODUCTOS */

.productos {
  display: flex;
  justify-content: space-around; 
  margin: auto;
}

.info:last-child {
  border-right: none;
}

.info img{
  width: 80%;
  padding: 10px 0 0 0;
}

.info{
  text-align: center;
  padding: 20px;
  border-right:  1px solid #ccc;
}

.puntos{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 0 15px 0;
}

.puntos:last-child{
  float: right;
}

.puntos .puntuacion{
  padding-left: 5px;
  font-size: 0.8em;
  padding-top: 4px;
  color: black;
}

hr{
  width: 80%;
  margin-left: 0%;
  margin-right: 50%;
  background-color: #dfdfdf;
}

.productos:last-child {
  border-right: none;
}

.info h2{
  color: #3e8ddd;
  font-weight: lighter;
  padding: 20px 0 0 0;
  margin:0;
}

.info h1{
  font-weight: lighter;
  margin:0;
  font-size: 1.7em;
}

.info h6{
  font-weight: lighter;
  padding: 0;
  margin:0;
  font-size: 0.7em;
}

.info h5{
  font-weight: bold;
  padding: 0;
  margin: 1px;
  font-size: 0.7em;
}

.info h4{
  font-weight: lighter;
  padding: 0;
  color: grey;
  margin:0;
  font-size: 0.8em;
}

.info p small{
  color: #dfdfdf;
  font-weight: lighter;
  padding:0;
  margin:0;
  font-style: italic;
  font-size: 0.9em;
}

.info p{
  color: grey;
  font-weight: lighter;
  padding: 0 0 10px 0;
  margin:0;
}

.info h3{
  font-weight: bold;
  padding: 6px 0 5px 0;
  color: #ff6a00;
  margin:0;
  font-size: 0.7em;
}

.caracteristicas{
  text-align: left;
  padding: 10px 0 0 40px;;
}

.caracteristicas h3{
  color: #949494;
  font-size: 0.8em;
  font-weight: lighter;
  margin-left: 5px;
}

.caracteristicas a{
  text-decoration-line: none;
  color: #3e8ddd;
  text-align: left;
  font-size: 0.8em;
  margin-left: 5px;

}


.caracteristicas a:hover{
  text-decoration: underline;
  color: #3e8ddd;
}

.caracteristicas h4{
  color: black;
  font-size: 0.8em;
  margin-left: 5px;
}

.boton{
  background-color: #1976a1;
  font-size: 0.9em;
  color: white;
  border-radius: 4px;
  margin: 5px;
  padding: 8px;
  border: none;
  width: 70%;
  border: 1px solid #1976a1;
}

.boton:hover {
  background-color: #d9eef7;;
  color: #1976a1;
  border: 1px solid #1976a1;
  cursor: pointer;
 }

#form {
  width: 250px;
  margin: 0 auto;
  height: 50px;
}

#form p {
  text-align: center;
}

#form label {
  font-size: 20px;
}

input[type="radio"] {
  display: none;
}

label {
  color: grey;
}

.clasificacion {
  direction: rtl;
  unicode-bidi: bidi-override;

}

label:hover,
label:hover ~ label {
  color: #e2231a;
}

input[type="radio"]:checked ~ label {
  color: #e2231a;
}

/* FIN PRODUCTOS */

/*ANIMACIONES*/

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.fast {
  -webkit-animation-duration: 0.4s;
  animation-duration: 0.4s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@keyframes fadeIn {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}

.fadeIn {
  animation-name: fadeIn;
}

/* FIN ANIMACIONES */


/* MEDIAQUERIES - RESPONSIVE */

@media screen and (max-width: 700px){

  .boton {
    height: 50px;
    font-size: 1.6em;
    width: 50%;
    border-radius: 6px;
  }
  
  .botonera img{
    width: auto;
  }
  
  .botonera p{
      font-size: 0.5;
      padding-left: 2px;
      display: none;
  }
  
  
  
  .botonera a:nth-last-child(-n+3){
      display: none;
  }
  
  
  .banner h1{
    color: white;
    margin-left: 2%;
    font-size: 2.5em;
    text-align: left;
  }
  
  .info h2 {
      color: #3e8ddd;
      font-weight: lighter;
      padding: 20px 0 0 0;
      margin: 0;
      font-size: 40px;
  }
  
  label{
      color: grey;
      font-weight: lighter;
      padding: 0 0 10px 0;
      margin: 0;
      font-size: 40px;
  }
  
  .puntos .puntuacion {
      padding-left: 6px;
      font-size: 1.2em;
      padding-top: 6px;
      color: black;
  }
  
  .banner h1 small{
    font-size: 0.6em;
    font-weight: 100;
  }
  
  .banner {
    background-image: url(../img/hero-banner.jpg);
    background-repeat: no-repeat;
    background-size: auto;
    width: 100%;
    height: 150px;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  .topnav {
    width: 100%;
    height: 30%;
    float: left;
  }
  
  .header img {
    display: none;
  }
  
  
  
  .header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
  }
  
  .subheader {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      width: 100%;
      height: 80%;
      margin: 0;
      padding: 0;
  }
  
  .caracteristicas {
      text-align: left;
      padding: 10px 0 0 100px;
  }
  
  
  }
  
  @media screen and (max-width: 700px){
  
  .topnav a:not(:first-child){
    display: none;
  }
  
  .topnav a.icon {
    float: right;
    display: block;
  }
  
  .holder {
    max-width: 700px;
    padding-left: 0;
    padding-right: 0;
    display: inline;
  }
  
  .ribbon{
    width: 250px;
    height: 20px;
    position: relative;
    background: #3e8ddd;
    display:block;
    left: 220px;
    position: relative;
    bottom: 20px;
  }
  
  .ribbon p{
    position: relative;
    bottom: 0;
    color: white;
    font-weight: 550;
    font-size: 1em;
    left: 70px;
  }
  
  .chat {
      display: flex;
      align-items: center;
      font-size: 0.5em;
      padding-top: 2px;
  }
  
  .contact {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-end;
      position: absolute;
      top: 0;
      right: 0;
      padding-right: 20px;
      height: 40px;
  }
  
    .ribbon:nth-last-child(-n+3){
      display: none;
  }
  
  
  
  .info{
    padding: 0;
    padding-bottom: 50px;
  }
  
    .banner2{
      display: none;
    }
  
  .botonera{
    position: relative;
    bottom: 40px;
    height: 130px;
  
  }
  
  .info h1 {
      font-weight: lighter;
      margin: 0;
      font-size: 3.4em;
  }
  
  .info h4 {
      font-weight: lighter;
      padding: 0;
      color: grey;
      margin: 0;
      font-size: 1.3em;
  }
  
  .info h5 {
      font-weight: bold;
      padding: 0;
      margin: 1px;
      font-size: 1.4em;
  }
  
  .info h3 {
      font-weight: bold;
      padding: 10px 0 5px 0;
      color: #ff6a00;
      margin: 0;
      font-size: 1.4em;
  }
  
  .info p small {
      color: #dfdfdf;
      font-weight: lighter;
      padding: 0;
      margin: 0;
      font-style: italic;
      font-size: 1.4em;
  }
  
  .caracteristicas a {
      text-decoration-line: none;
      color: #3e8ddd;
      text-align: left;
      font-size: 1.3em;
      margin-left: 5px;
  }
  
  .ribbon:after {
      content: "";
      position: absolute;
      color: white;
      padding-left: 25px;
      font-size: 1.8em;
      left: 0;
      bottom: 0;
      width: 0;
      height: 0;
      border-left: 20px solid white;
      border-top: 20px solid transparent;
      border-bottom: 20px solid transparent;
  }
  
  .ribbon {
      width: 400px;
      height: 40px;
      position: relative;
      background: #3e8ddd;
      display: block;
      left: 150px;
      position: relative;
      bottom: 20px;
  }
  
  .ribbon p {
      position: relative;
      bottom: 0;
      color: white;
      font-weight: 550;
      font-size: 1.5em;
      left: 120px;
      top: 5px;
  }
  
  .botonera img {
      width: 90%;
  }
  
  
  .info h6 {
      font-weight: lighter;
      padding: 0;
      margin: 0;
      font-size: 1.4em;
  }
  
  .caracteristicas h4{
    color: black;
    font-size: 1.3em;
    margin-left: 5px;
  }
  
  .caracteristicas h3{
    color: black;
    font-size: 1.3em;
    margin-left: 5px;
    color:#949494;
  }
  
  
  }
  
  
  
  @media screen and (max-width: 700px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }
  
  @media screen and (max-width: 375px) {
  
  .botonera img {
      width: 90%;
  }
  .ribbon {
      width: 250px;
      height: 20px;
      position: relative;
      background: #3e8ddd;
      display: block;
      left: 60px;
      position: relative;
      bottom: 20px;
  }
  
  .caracteristicas {
      text-align: left;
      padding: 10px 0 0 50px;
  }
  
  .banner h1 {
      color: white;
      margin-left: 2%;
      font-size: 2em;
      text-align: center;
  }
  
  .banner h1 small {
      display: none;
  }
  
  .search input {
      width: 50%;
      padding-left: 16px;
      border-color: grey;
  }
  
  .contact {
      display: none;
      flex-direction: column;
      justify-content: center;
      align-items: flex-end;
      position: absolute;
      top: 0;
      right: 0;
      padding-right: 20px;
  }
  
  .topnav a.icon {
      float: right;
      display: block;
      position: relative;
      bottom: 50px;
  }
  
  .info {
      text-align: center;
       padding: 20px; 
       border-right: none; 
  }
  
  .botonera {
      position: relative;
      bottom: 40px;
      height: 130px;
  }
  
  .botonera a:nth-last-child(-n+4){
    display: none;
  }
  
  .ribbon {
      width: 200px;
      height: 20px;
      position: relative;
      background: #3e8ddd;
      display: block;
      position: relative;
      bottom: 20px;
      left: 80px;
  }
  
  .boton{
    font-size: 1.2em;
  }
  
  .ribbon p {
      position: relative;
      color: white;
      font-weight: 550;
      font-size: 1em;
      left: 50px;
      top: -1px;
  }
  
  .ribbon:after {
      content: "";
      position: absolute;
      color: white;
      padding-left: 25px;
      font-size: 1.8em;
      left: 0;
      bottom: 0;
      width: 0;
      height: 0;
      border-left: 10px solid white;
      border-top: 10px solid transparent;
      border-bottom: 10px solid transparent;
  }
  
  .banner h1 {
    position: relative;
    top: 5px;
    color: white;
    margin-left: 2%;
    font-size: 2.5em;
    text-align: center;
  }
  
  label {
  color: grey;
  font-weight: lighter;
  padding: 0 0 10px 0;
  margin: 0;
  font-size: 30px;
  }
  
  .info h2 {
    font-size: 30px;
  }
  
  .info p small {
  color: #dfdfdf;
  font-weight: lighter;
  padding: 0;
  margin: 0;
  font-style: italic;
  font-size: 1em;
  }
  
  .info p small {
  color: #dfdfdf;
  font-weight: lighter;
  padding: 0;
  margin: 0;
  font-style: italic;
  font-size: 1em;
  }
  
  .info h3 {
  font-weight: bold;
  padding: 10px 0 5px 0;
  color: #ff6a00;
  margin: 0;
  font-size: 1em;
  }
  
.info h5 {
  font-weight: bold;
  padding: 0;
  margin: 1px;
  font-size: 1em;
}
  
.info h4 {
  font-weight: lighter;
  padding: 0;
  color: grey;
  margin: 0;
  font-size: 1.2em;
}
  
.info h1 {
  font-weight: lighter;
  margin: 0;
  font-size: 3em;
}
  
  .caracteristicas h3 {
    color: #949494;
    font-size: 1em;
    font-weight: lighter;
    margin-left: 5px;
  }
  
  .caracteristicas h4 {
    color: black;
    font-size: 1em;
    font-weight: lighter;
    margin-left: 5px;
  }
  
  
  }
  

  
  /* FIN MEDIAQUERIES - RESPONSIVE*/