@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?t4xzdm');
  src:  url('../fonts/icomoon.eot?t4xzdm#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?t4xzdm') format('truetype'),
    url('../fonts/icomoon.woff?t4xzdm') format('woff'),
    url('../fonts/icomoon.svg?t4xzdm#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}


body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;

}

.fixed{
position: fixed;
}

.holder{

  max-width: 1080px;
  margin: 0 auto; 
  padding-top: 10px;
}

/* ICONOS */

.icon-shopping-cart:before,.icon-mensaje:before,.icon-search:before,.icon-user:before{
  font-family: 'icomoon';
  font-size: 2em;
  margin: 0 auto;

}


.icon-shopping-cart:before {
  content: "\e900";
  color: #ccc;
  
}
.icon-mensaje:before {
  content: "\e906";
  color: #ccc;
}
.icon-search:before {
  content: "\e901";
  color: #ccc;
}
.icon-user:before {
  content: "\e902";
  color: #ccc;

}

/* FIN ICONOS */

/* HEADER NAV BAR */


.topnav {
  overflow: hidden;
  background-color: white;
  float: left;
  width: 100%;
  padding-bottom: 2px;
  display: flex;
  flex-direction: row;

}

.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  text-decoration: none;
  font-size: 0.8em;
  font-weight: bold;
  margin: 12px;
  padding: 5px;

}

.topnav a:hover {
 color: blue;
 font-weight: bold;
}

.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

.topnav .icon {
  display: none;
}

.topnav input{
  margin: 12px;
  padding: 5px;
  font-size: 12px;
 border-radius: 5px;
 border: 1px solid;
}

.header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100%;
  
}

.chat{
  width: 20%;
  padding: 0;
  margin:0;

}

.iconos{
  width: 

}


.subheader{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  margin:0;
  padding: 0;

}


.header img{
  width: 3%;
}


.banner{
  width: 100%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}

.banner img{
  width: 100%;
}

.banner h1{
  color: white;
  position: absolute;
  font-size: 3em;
  text-align: left;
  top: 70px;

}


.banner h1 small{
  font-size: 0.5em;
  font-weight: 100;
}

.banner2{
  width: 100%;
  height: 100%;
  box-sizing: border-box

}

.banner2 img{
  width: 100%;
}

.banner2 h5{
  color: white;
  position: relative;
  text-align: center;
  font-weight: lighter;
  bottom: 54px;
}


.botonera{
  background-color: #f8f8f8;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 100%;

}

.botonera img{
  width: 50px;
}

.botonera div{
  position: relative;
  padding: 10px;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;

}



.botonera a{
  text-decoration-line: none;
  font-size: 0.8em;
  text-align: center;
  color: black;
  width: 10px;
}

.botonera a:hover{
  color: #ff6a00;

}

.botonera div:hover{
  border-bottom: 3px solid #ff6a00;

}




/* FIN HEADER NAV BAR */



/* ETIQUETA RIBBON */

.ribbon {
      width: 150px;
      height: 20px;
      position: relative;
      background: #3e8ddd;
      display:block;

}

.ribbon p{
  position: relative;
  color: white;
  bottom: 8px;
  left: 35px;
  font-size: 0.8em;
  font-weight: 500;
}

.ribbon:after {
      content: "";
      position: absolute;
      color: white;
      padding-left: 25px;
 
      font-size: 0.8em;
      left: 0;
      bottom: 0;
      width: 0;
      height: 0;
      border-left: 10px solid white;
      border-top: 10px solid transparent;
      border-bottom: 10px solid transparent;
    }

/* FIN ETIQUETA RIBBON */

/* PRODUCTOS */

.productos {
  display: flex;
  justify-content: space-around; 
  margin: auto;
  
}



.info img{
  width: 80%;
  padding: 10px 0 0 0;
}

.info{
  text-align: center;
  padding: 20px;
  border-right:  1px solid #ccc;
}

.info:last-child{
  border-right: none;
}



.info h2{
  color: #3e8ddd;
  font-weight: lighter;
  padding: 50px 0 0 0;
  margin:0;
}

.info h1{
  font-weight: lighter;
  padding: 3px 0 3px 0;
  margin:0;
  font-size: 2em;
}

.info h6{
  font-weight: lighter;
  padding: 0;
  margin:0;
}

.info h4{
  font-weight: lighter;
  padding: 0;
  color: grey;
  margin:0;
  font-size: 1em;
}

.info p small{
  color: grey;
  font-weight: lighter;
  padding: 0 0 10px 0;
  margin:0;
  font-style: italic;
}

.info p{
  color: grey;
  font-weight: lighter;
  padding: 0 0 10px 0;
  margin:0;
}


.info h3{
  font-weight: bold;
  padding: 2px 0 5px 0;
  color: #ff6a00;
  margin:0;
  font-size: 0.7em;
}

.caracteristicas{
  text-align: left;
  padding: 10px 0 0 0;
}

.caracteristicas h3{
  color: grey;
  font-size: 0.7em;
  font-weight: lighter;
}

.caracteristicas a{
  text-decoration-line: none;
  color: #3e8ddd;
  text-align: left;
  font-size: 0.8em;
}


.caracteristicas a:hover{
  text-decoration: underline;
  color: #3e8ddd;
}
.caracteristicas h4{
  color: black;
  font-size: 0.7em;
  font-weight: lighter;
}


.boton{

  background-color: #1976a1;
  font-size: 1em;
  color: white;
  border-radius: 8px;
  margin: 5px;
  padding: 5px;
  border: none;
  width: 70%;
  border: 2px solid #1976a1;
}

.boton:hover {
      background-color: white;
      color: #1976a1;
      border: 2px solid #1976a1;
      cursor: pointer;
 }



 #form {
  width: 250px;
  margin: 0 auto;
  height: 50px;
}

#form p {
  text-align: center;
}

#form label {
  font-size: 20px;
}

input[type="radio"] {
  display: none;
}

label {
  color: grey;
}

.clasificacion {
  direction: rtl;
  unicode-bidi: bidi-override;
}

label:hover,
label:hover ~ label {
  color: #e2231a;
}

input[type="radio"]:checked ~ label {
  color: #e2231a;
}

/* FIN PRODUCTOS */

/* MEDIAQUERY - RESPONSIVE */



@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

/* FIN MEDIAQUERY - RESPONSIVE*/