@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?t4xzdm');
  src:  url('../fonts/icomoon.eot?t4xzdm#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?t4xzdm') format('truetype'),
    url('../fonts/icomoon.woff?t4xzdm') format('woff'),
    url('../fonts/icomoon.svg?t4xzdm#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

body {
  margin: 0;
  padding: 0;
  font-family: Lato, Arial, Helvetica, sans-serif;

}

.holder{
  max-width: 1080px;
  margin: 0 auto; 
  padding-top: 10px;
}

/* ICONOS */

.icon-shopping-cart:before,.icon-mensaje:before,.icon-search:before,.icon-user:before{
  font-family: 'icomoon';
  font-size: 1.5em;
  margin: 0 auto;
  color: rgb(86, 86, 86);

}


.icon-shopping-cart:before {
  content: "\e900";
  
}
.icon-mensaje:before {
  content: "\e906";
}
.icon-search:before {
  content: "\e901";
  font-size: 0.8em;
}
.icon-user:before {
  content: "\e902";
}

/* FIN ICONOS */

/* HEADER NAV BAR */


.topnav {
  width: 100%;
  height: 100%;
  float: left;
}

.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  text-decoration: none;
  font-size: 0.8em;
  font-weight: bold;
  margin: 12px;
  padding: 5px;
}

.topnav a:hover {
 color: blue;
 font-weight: bold;
}

.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

.topnav .icon {
  display: none;
}

.topnav input{
  margin: 12px;
  padding: 5px;
  font-size: 12px;
  border-radius: 5px;
  border: 1px solid;
}

.search {
  height: 100%;
}

.search input{
  width: 20%;
  padding-left: 16px;
}

.search span {
  position: relative;
  right: 40px;
  cursor: pointer;
}

.header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 200px;
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  position: absolute;
  top: 0;
  right: 0;
}

.chat{
  display: flex;
  align-items: center;
  font-size: 0.7em;
}

.iconos{
  display: flex;
  align-items: center;
}

.subheader{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
  height: 100%;
  margin:0;
  padding: 0;
}


.header img{
  width: 65px;
}


.banner{
  background-image: url('../img/hero-banner.jpg');
  background-size: contain;
  width: 100%;
  height: 125px;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}



.banner h1{
  color: white;
  margin-left: 2%;
  font-size: 3em;
  text-align: left;
}


.banner h1 small{
  font-size: 0.5em;
  font-weight: 100;
}

.banner2{
  width: 100%;
  height: 100%;
  box-sizing: border-box

}

.banner2 img{
  width: 100%;
}

.banner2 h5{
  color: white;
  position: relative;
  text-align: center;
  font-weight: bold;
  bottom: 50px;
}


.botonera{
  display: flex;
  background-color: #f8f8f8;
  width: 100%;
  height: 50px;
  justify-content: space-around;
}

.item{
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration-line: none;
  font-size: 0.8em;
  text-align: center;
  color: black;
  width: auto;


}

.item p{
  padding-left: 5px;
  width: 50px;
  font-weight: lighter;
  font-size: 0.9em;


}
  


.item img{
  width: 50px;
  cursor: pointer;
}

.item:hover{
  border-bottom: 3px solid #ff6a00;
  color:#ff6a00;
  cursor: pointer;

}

.item:hover p{
  cursor: pointer;
}




/* FIN HEADER NAV BAR */



/* ETIQUETA RIBBON */

.ribbon {
      width: 150px;
      height: 20px;
      position: relative;
      background: #3e8ddd;
      display:block;

}

.ribbon:after {
      content: "DOORBUSTER";
      position: absolute;
      color: white;
      padding-left: 25px;
      font-size: 0.8em;
      left: 0;
      bottom: 0;
      width: 0;
      height: 0;
      border-left: 10px solid white;
      border-top: 10px solid transparent;
      border-bottom: 10px solid transparent;
    }

/* FIN ETIQUETA RIBBON */

/* PRODUCTOS */

.productos {
  display: flex;
  justify-content: space-around; 
  margin: auto;
  
}

.info:last-child {
  border-right: none;
}


.info img{
  width: 80%;
  padding: 10px 0 0 0;
}

.info{
  text-align: center;
  padding: 20px;
  border-right:  1px solid #ccc;
}

.productos:last-child {
  border-right: none;
}

.info h2{
  color: #3e8ddd;
  font-weight: lighter;
  padding: 50px 0 0 0;
  margin:0;
}

.info h1{
  font-weight: lighter;
  padding: 3px 0 3px 0;
  margin:0;
  font-size: 2em;
}

.info h6{
  font-weight: lighter;
  padding: 0;
  margin:0;
}


.info h5{
  font-weight: bold;
  padding: 0;
  margin: 1px;
  font-size: 1em;

}

.info h4{
  font-weight: lighter;
  padding: 0;
  color: grey;
  margin:0;
  font-size: 0.8em;
}

.info p small{
  color: grey;
  font-weight: lighter;
  padding: 0 0 10px 0;
  margin:0;
  font-style: italic;
}

.info p{
  color: grey;
  font-weight: lighter;
  padding: 0 0 10px 0;
  margin:0;
}


.info h3{
  font-weight: bold;
  padding: 2px 0 5px 0;
  color: #ff6a00;
  margin:0;
  font-size: 0.7em;
}

.caracteristicas{
  text-align: left;
  padding: 10px 0 0 0;
}

.caracteristicas h3{
  color: grey;
  font-size: 0.7em;
  font-weight: lighter;
}

.caracteristicas a{
  text-decoration-line: none;
  color: #3e8ddd;
  text-align: left;
  font-size: 0.8em;
}


.caracteristicas a:hover{
  text-decoration: underline;
  color: #3e8ddd;
}
.caracteristicas h4{
  color: black;
  font-size: 0.7em;
  font-weight: lighter;
}


.boton{

  background-color: #3e8ddd;
  font-size: 1em;
  color: white;
  border-radius: 8px;
  margin: 5px;
  padding: 5px;
  border: none;
  width: 70%;
  border: 2px solid #3e8ddd;
}

.boton:hover {
      background-color: white;
      color: #008CBA;
      border: 2px solid #008CBA;
      cursor: pointer;
 }



 #form {
  width: 250px;
  margin: 0 auto;
  height: 50px;
}

#form p {
  text-align: center;
}

#form label {
  font-size: 20px;
}

input[type="radio"] {
  display: none;
}

label {
  color: grey;
}

.clasificacion {
  direction: rtl;
  unicode-bidi: bidi-override;
}

label:hover,
label:hover ~ label {
  color: #e2231a;
}

input[type="radio"]:checked ~ label {
  color: #e2231a;
}

/* FIN PRODUCTOS */

/* MEDIAQUERY - RESPONSIVE */



/*@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}*/

/* FIN MEDIAQUERY - RESPONSIVE*/